<div id="fh5co-info">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <figure class="animate-box">
                    <img src="/images/introduce.jpg" alt="Free HTML5 Bootstrap Template by FREEHTML5.co"
                         class="img-responsive">
                </figure>
            </div>
            <div class="col-md-6">
                <div class="fh5co-label animate-box" style="color: black">
                </div>
                <p class="fh5co-sub-lead animate-box" style="color: black">
                    Half Realty Inc.<br>
                    615 Las Tunas Dr Suite A<br>
                    Arcadia CA 91007<br>
                    Tel: 6268985078
                </p></div>
        </div>
    </div>
</div>