<section id="fh5co-features-2">
    <div class="container">
        <div class="col-md-6 col-md-push-6">
            <figure class="fh5co-feature-image animate-box">
                <img src="/images/features.jpg" alt="Free HTML5 Bootstrap Template by FREEHTML5.co">
            </figure>
        </div>
        <div class="col-md-6 col-md-pull-6">
            <span class="fh5co-label animate-box">你是否还在迷茫？</span>
            <h2 class="fh5co-lead animate-box">不知道下一步如何迈出？</h2>
            <div class="fh5co-feature">
                <div class="fh5co-icon animate-box"><i class="icon-check2"></i></div>
                <div class="fh5co-text animate-box">
                    <h3>怀才不遇</h3>
                    <p>你是否有远大的抱负，却总是觉得才能无处施展</p>
                </div>
            </div>
            <div class="fh5co-feature">
                <div class="fh5co-icon animate-box"><i class="icon-check2"></i></div>
                <div class="fh5co-text animate-box">
                    <h3>暂失目标</h3>
                    <p>你是否斗志昂扬，却难以找到全身心投入的方向？</p>
                </div>
            </div>
            <div class="fh5co-feature">
                <div class="fh5co-icon animate-box"><i class="icon-check2"></i></div>
                <div class="fh5co-text animate-box">
                    <h3>资源溢出</h3>
                    <p>你是否已经积累丰富的资源，却不知道如何利用？</p>
                </div>
            </div>
            <div class="fh5co-feature">
                <div class="fh5co-icon animate-box"><i class="icon-check2"></i></div>
                <div class="fh5co-text animate-box">
                    <h3>遭遇瓶颈</h3>
                    <p>最重要的是，你是否因为难以突破，开始慢慢的失去信心和奋斗的激情？</p>
                </div>
            </div>


            <div class="fh5co-btn-action animate-box">
                <h3> 其实你也许早已万事俱备，仅仅确少的是一个阶梯，一条跑道，一种氛围。</h3>
                <!--<a href="#" class="btn btn-primary btn-cta">More Features</a>-->
            </div>

        </div>
    </div>
</section>