<style>
    @media screen and(max-width: 768px) {
        #fh5co-hero .fh5co-intro{
            height: 800px;
        }
    }
</style>
<section id="fh5co-hero" class="js-fullheight" style="background-image: url(/images/main_cover.png);" data-next="yes">
    <div class="fh5co-overlay"></div>
    <div class="container">
        <div class="fh5co-intro js-fullheight">
            <div class="fh5co-intro-text">
                <!--
                    INFO:
                    Change the class to 'fh5co-right-position' or 'fh5co-center-position' to change the layout position
                    Example:
                    <div class="fh5co-right-position">
                -->
                <div class="fh5co-left-position">
                    <h2 class="animate-box">2018春节期间加盟哈福地产，经纪人免一年Broker Split 的费用!</h2>
                    <p class="animate-box">
                        <!--<a href="/videos/hr-video.mp4"-->
                           <!--class="btn btn-outline popup-vimeo btn-video"><i-->
                                    <!--class="icon-play2"></i> 观看视频</a>-->
                        <!--<a href="http://freehtml5.co"-->
                        <!--target="_blank"-->
                        <!--class="btn btn-primary">访问 - 长城地产</a>-->
                    </p>
                </div>
            </div>
        </div>
    </div>
    <div class="fh5co-learn-more animate-box">
        <a href="#" class="scroll-btn">
            <span class="text">发现更多</span>
            <span class="arrow"><i class="icon-chevron-down"></i></span>
        </a>
    </div>
</section>