<!DOCTYPE html>
<!--[if lt IE 7]>
<html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>
<html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>
<html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js"> <!--<![endif]-->
<head>
    <% include components/head.ejs %>

</head>
<body>
<!-- Loader -->
<div class="fh5co-loader"></div>

<div id="fh5co-page">

    <% include components/header.ejs %>
    <!-- #fh5co-header -->

    <% include components/thankView.ejs %>
    <!-- END #fh5co-hero -->
    <% include components/footer.ejs %>

    <!-- END #fh5co-footer -->
</div>
<!-- END #fh5co-page -->

<% include components/tail.ejs %>

</body>
</html>

